<meta charset="UTF-8">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
<meta name="description" content="{{ page.description | default: site.github.project_tagline }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">

<script src="https://use.typekit.net/zwp8hts.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://use.fontawesome.com/85482f81f5.js"></script>


<link rel="stylesheet" href="{{ '/assets/css/secrethitler.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="icon" type="image/x-icon" href="favicon.ico">
