---
---

@import "{{site.theme}}"

/* COLORS */
/* COLORS AS WE ACTUALLY USE THEM IN THE STYLES */
/* TYPE SCALE */
/* TYPOGRAPHY */
/* IMPORTANT SIZES */
/* MEDIA QUERIES */
/* BORDER STUFF */
.secret-stamp, .secret-container, .secret-card, .secret-slice {
  zoom: 1; }
  .secret-stamp:after, .secret-container:after, .secret-card:after, .secret-slice:after {
    clear: both; }
  .secret-stamp:after, .secret-container:after, .secret-card:after, .secret-slice:after, .secret-stamp:before, .secret-container:before, .secret-card:before, .secret-slice:before {
    content: '';
    display: table; }

/* MEDIA QUERY MIXINS */
/* FONT SIZE MIXINS */
/* FONT SIZE PLACEHOLDERS */
h3, big small, small big, .secret-font-size-normal {
  font-size: 1rem;
  line-height: 1.5555555556em; }

h2, big, .secret-font-size-subtitle, .secret-font-size-big {
  font-size: 2.4444444444rem;
  line-height: 1.2272727273em; }

h1, big big, .secret-font-size-title, .secret-font-size-biggest {
  font-size: 4.4444444444rem;
  line-height: 1.25em; }

/* TEXT MIXINS */
/* TEXT PLACEHOLDERS */
h3 {
  font-family: "courier-prime", Courier, sans-serif;
  font-weight: 400; }

h2 {
  font-family: "courier-prime", Courier, sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

h1 {
  font-family: "courier-prime", Courier, sans-serif;
  font-weight: 700; }

/* GRID HACKS */
.secret-boxed, .secret-card.secret-knockout .secret-middle, .secret-card.secret-knockout-red .secret-middle, .secret-card.secret-ribbon, footer {
  color: #F7E1C3; }
  .secret-boxed .secret-logo-fill, .secret-card.secret-knockout .secret-middle .secret-logo-fill, .secret-card.secret-knockout-red .secret-middle .secret-logo-fill, .secret-card.secret-ribbon .secret-logo-fill, footer .secret-logo-fill {
    fill: #F7E1C3; }

/* FOR SCREEN READERS */
.secret-dont-speak {
  speak: none; }

.secret-hidden {
  display: block !important;
  margin: 0 !important;
  max-height: 0 !important;
  max-width: 0 !important;
  opacity: 0 !important;
  overflow: hidden !important;
  padding: 0 !important; }

/* TYPOGRAPHY */
.secret-text-center {
  text-align: center; }

.secret-text-left {
  text-align: left; }

.secret-text-right {
  text-align: right; }

/* PUSH AND PULL CLASSES */
@media (min-width: 360px) {
  .secret-pull-right {
    float: right; } }

@media (min-width: 360px) {
  .secret-pull-left {
    float: left; } }

/* MARGINS */
.secret-marginless {
  margin: 0 !important; }

/* VIEWPORT WIDTH */
@media (max-width: 359px) {
  .secret-hide-small {
    display: none !important; } }

@media (min-width: 360px) and (max-width: 959px) {
  .secret-hide-medium {
    display: none !important; } }

@media (min-width: 960px) {
  .secret-hide-big {
    display: none !important; } }

/* PIXEL DENSITY */
@media screen and (max-resolution: 149dpi) {
  .secret-hide-non-retina {
    display: none !important; } }
@media screen and (min-resolution: 150dpi) {
  .secret-hide-retina {
    display: none !important; } }
.secret-hide {
  max-height: 0 !important;
  overflow: hidden !important;
  speak: none !important;
  visibility: hidden !important; }

.secret-success .secret-hide-on-success {
  display: none !important; }

.secret-show-on-success {
  display: none !important; }
  .secret-success .secret-show-on-success {
    display: block !important; }

small, .secret-font-size-small {
  font-size: 16px;
  line-height: 21px; }

small small, .secret-font-size-smallest {
  font-size: 13px;
  line-height: 18px; }

.secret-text-bold {
  font-weight: 700; }

.secret-text-constrained {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.secret-gitter-small, .secret-gitter-medium, .secret-gitter-wide {
  clear: both;
  display: block;
  float: left;
  margin-bottom: 40px;
  padding: 0 20px;
  position: relative;
  vertical-align: middle;
  width: 100%; }
  .secret-gitter-small > .secret-gitter-row, .secret-gitter-medium > .secret-gitter-row, .secret-gitter-wide > .secret-gitter-row {
    box-sizing: content-box;
    margin: 0 -20px;
    padding: 0 20px; }
    .secret-gitter-small > .secret-gitter-row:last-child, .secret-gitter-medium > .secret-gitter-row:last-child, .secret-gitter-wide > .secret-gitter-row:last-child {
      margin-bottom: 0; }
    .secret-gitter-small > .secret-gitter-row .secret-gitter-small:first-child, .secret-gitter-medium > .secret-gitter-row .secret-gitter-small:first-child, .secret-gitter-wide > .secret-gitter-row .secret-gitter-small:first-child {
      padding-left: 0; }
      @media (max-width: 359px) {
        .secret-gitter-small > .secret-gitter-row .secret-gitter-small:first-child, .secret-gitter-medium > .secret-gitter-row .secret-gitter-small:first-child, .secret-gitter-wide > .secret-gitter-row .secret-gitter-small:first-child {
          padding-right: 0; } }
    .secret-gitter-small > .secret-gitter-row .secret-gitter-small:last-child, .secret-gitter-medium > .secret-gitter-row .secret-gitter-small:last-child, .secret-gitter-wide > .secret-gitter-row .secret-gitter-small:last-child {
      padding-right: 0; }
      @media (max-width: 359px) {
        .secret-gitter-small > .secret-gitter-row .secret-gitter-small:last-child, .secret-gitter-medium > .secret-gitter-row .secret-gitter-small:last-child, .secret-gitter-wide > .secret-gitter-row .secret-gitter-small:last-child {
          padding-left: 0; } }
    @media (min-width: 360px) {
      .secret-gitter-small > .secret-gitter-row:last-child .secret-gitter-small, .secret-gitter-medium > .secret-gitter-row:last-child .secret-gitter-small, .secret-gitter-wide > .secret-gitter-row:last-child .secret-gitter-small {
        margin-bottom: 0; } }
    .secret-gitter-small > .secret-gitter-row .secret-gitter-medium, .secret-gitter-medium > .secret-gitter-row .secret-gitter-medium, .secret-gitter-wide > .secret-gitter-row .secret-gitter-medium {
      padding: 0; }
      .secret-gitter-small > .secret-gitter-row .secret-gitter-medium:last-child, .secret-gitter-medium > .secret-gitter-row .secret-gitter-medium:last-child, .secret-gitter-wide > .secret-gitter-row .secret-gitter-medium:last-child {
        margin-bottom: 0; }

@media (min-width: 360px) {
  .secret-gitter-small {
    clear: none; } }
@media (min-width: 360px) and (max-width: 959px) {
  .secret-gitter-small {
    width: 50%; } }
@media (min-width: 960px) {
  .secret-gitter-small {
    width: 25%; } }
@media (min-width: 960px) {
  .secret-gitter-medium .secret-gitter-small {
    width: 50%; } }

@media (min-width: 960px) {
  .secret-gitter-medium {
    clear: none;
    width: 50%; } }
@media (min-width: 960px) {
  .secret-gitter-medium .secret-gitter-medium {
    width: 100%; } }

@media (min-width: 360px) and (max-width: 959px) {
  .secret-gitter-push-small {
    left: 50%; } }
@media (min-width: 960px) {
  .secret-gitter-push-small {
    left: 25%; } }
@media (min-width: 960px) {
  .secret-gitter-medium .secret-gitter-push-small {
    left: 50%; } }

@media (min-width: 960px) {
  .secret-gitter-push-medium {
    left: 50%; } }

@media (min-width: 960px) {
  .secret-gitter-pull-medium {
    left: -50%; } }

.secret-gitter-row {
  zoom: 1;
  display: block;
  width: 100%; }
  .secret-gitter-row:after {
    clear: both; }
  .secret-gitter-row:after, .secret-gitter-row:before {
    content: '';
    display: table; }

* {
  box-sizing: border-box; }

body {
  display: block;
  overflow-x: hidden;
  position: relative; }

body, html {
  background-color: #938673;
  background-repeat: repeat;
  background-size: 250px 250px;
  background-position: center top;
  color: #36322a;
  font-family: "courier-prime", Courier, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

dl, p, ol, table, ul {
  margin: 0 0 1.5555555556em;
  padding: 0; }

em {
  font-style: italic; }

hr {
  background: #36322a;
  border: none;
  clear: both;
  display: block;
  float: left;
  height: 4px;
  margin: 0 0 28px;
  outline: none;
  padding: 0;
  width: 100%; }
  h2 + hr, .secret-boxed h2 + hr, .secret-card.secret-knockout .secret-middle h2 + hr, .secret-card.secret-knockout-red .secret-middle h2 + hr, .secret-card.secret-ribbon h2 + hr, footer h2 + hr {
    margin-bottom: 40px; }
  .secret-boxed hr, .secret-card.secret-knockout .secret-middle hr, .secret-card.secret-knockout-red .secret-middle hr, .secret-card.secret-ribbon hr, footer hr {
    background-color: #F7E1C3;
    height: 2px;
    margin-bottom: 26px; }
  hr:after {
    content: '';
    display: table; }

html {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none; }

img, svg {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  max-width: 100%; }

strong {
  font-weight: 700; }

a {
  color: #36322a;
  font-weight: 700;
  text-decoration: underline;
  transition: color 60ms ease; }
  a:hover {
    color: #968975;
    cursor: pointer; }
  .secret-boxed a, .secret-card.secret-knockout .secret-middle a, .secret-card.secret-knockout-red .secret-middle a, .secret-card.secret-ribbon a, footer a {
    color: #F7E1C3; }
    .secret-boxed a:hover, .secret-card.secret-knockout .secret-middle a:hover, .secret-card.secret-knockout-red .secret-middle a:hover, .secret-card.secret-ribbon a:hover, footer a:hover {
      color: #F7E1C3; }

h1, h2 {
  display: block; }
  .secret-boxed h1, .secret-card.secret-knockout .secret-middle h1, .secret-card.secret-knockout-red .secret-middle h1, .secret-card.secret-ribbon h1, footer h1, .secret-boxed h2, .secret-card.secret-knockout .secret-middle h2, .secret-card.secret-knockout-red .secret-middle h2, .secret-card.secret-ribbon h2, footer h2 {
    color: #F7E1C3; }
  h1, h2 {
    color: #36322a; }

h1 {
  margin: 0.15625em 0; }

h2 {
  margin: 0.6136363636em 0;
  text-align: center; }

h3 {
  font-weight: bold; }

.secret-stamp {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: #F7E1C3;
  background-clip: border-box;
  border: 34px solid #F7E1C3;
  border-image: url("../assets/svgs/secret-buy-dots-e5a21ae4.svg") 43.1472081218% 43.1472081218% repeat repeat;
  border-radius: 27.8px;
  bottom: 0;
  box-shadow: 0 4px 0 0 rgba(54, 50, 42, 0.52);
  height: auto;
  left: 0;
  padding: 6px;
  padding-bottom: 30px;
  position: absolute;
  right: 0;
  top: 0;
  transform: perspective(200vmin) rotateX(0deg);
  transition: transform 270ms ease;
  transition: transform 270ms cubic-bezier(0.5, 0.25, 0.75, 1.5); }
  @media (min-width: 360px) {
    .secret-stamp {
      position: relative; } }
  .secret-stamp.secret-flip {
    transform: perspective(200vmin) rotateX(-180deg); }
    .secret-stamp.secret-flip + .secret-stamp {
      transform: perspective(200vmin) rotateX(0deg); }
  .secret-stamp a svg {
    margin-top: -21px; }
  .secret-stamp a, .secret-stamp a:hover, .secret-stamp p, .secret-stamp p:hover {
    color: #F0654B; }
  .secret-stamp a:hover > svg {
    opacity: 0.52; }
  .secret-stamp + .secret-stamp {
    bottom: 0;
    position: relative;
    top: 0;
    transform: perspective(200vmin) rotateX(180deg); }
    @media (min-width: 360px) {
      .secret-stamp + .secret-stamp {
        position: absolute; } }
  .secret-stamp .secret-intl-toggle {
    bottom: -7px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }
    @media (min-width: 360px) {
      .secret-stamp .secret-intl-toggle {
        bottom: 24.5px; } }

.secret-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #F0654B;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.2);
  color: #F7E1C3;
  display: block;
  font-family: "courier-prime", Courier, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 auto 42px;
  max-width: 100%;
  padding: 13px 20px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0 rgba(54, 50, 42, 0.25);
  transition: background-color 60ms ease, border-color 60ms ease, border-radius 60ms ease, box-shadow 60ms ease, color 60ms ease;
  transition: background-color 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5), border-color 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5), border-radius 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5), box-shadow 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5), color 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5);
  vertical-align: baseline;
  width: 100%; }
  .secret-button:hover {
    background-color: #f4a387;
    cursor: pointer;
    text-shadow: 0 0 1px rgba(54, 50, 42, 0.25); }
  .secret-button:active {
    box-shadow: inset 0 0 rgba(0, 0, 0, 0.2); }
    .secret-button:active span {
      transform: translateY(2px);
      -ms-transform: translateY(2px); }
  .secret-button:active, .secret-button:focus {
    outline: none; }
  .secret-button[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none !important;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .secret-button span {
    display: inline-block;
    position: relative;
    transform: translateY(0);
    -ms-transform: translateY(0);
    transition: transform 60ms ease; }

dd {
  margin: 0 0 1em 2em; }
  dd:last-of-type {
    margin-bottom: 0; }

dt {
  color: #36322a;
  font-weight: 700; }
  .secret-boxed dt, .secret-card.secret-knockout .secret-middle dt, .secret-card.secret-knockout-red .secret-middle dt, .secret-card.secret-ribbon dt, footer dt {
    color: #F7E1C3; }

li {
  margin: 0 0 0.5em; }

ol, ul {
  list-style-position: outside;
  margin: 1.5em 0 1.5em 1.5em;
  padding-left: 1.125em; }

ol ol {
  list-style-type: lower-roman; }

ol ol, ul ul {
  margin: 0.5em 0 0.5em 0.5em; }

.secret-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%; }

.secret-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border-color: currentColor;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-sizing: border-box;
  color: #F0654B;
  display: block;
  font-family: "courier-prime", Courier, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 auto 28px;
  max-width: 100%;
  outline: none;
  padding: 14px 9px 12px;
  text-align: left;
  transition: background-color 60ms ease-in, border-color 60ms ease-in;
  transition: background-color 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5), border-color 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5);
  width: 100%; }
  .secret-input:active, .secret-input:focus {
    color: #F0654B;
    outline: none; }
  .secret-input[disabled], form[disabled] .secret-input {
    cursor: default;
    opacity: 0.3; }
  .secret-input:-moz-placeholder {
    color: #F0654B;
    display: block !important;
    font-weight: 700;
    max-width: 100%;
    opacity: 0.73;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important; }
    .secret-boxed .secret-input:-moz-placeholder, .secret-card.secret-knockout .secret-middle .secret-input:-moz-placeholder, .secret-card.secret-knockout-red .secret-middle .secret-input:-moz-placeholder, .secret-card.secret-ribbon .secret-input:-moz-placeholder, footer .secret-input:-moz-placeholder {
      opacity: 0.5; }
  .secret-input::-moz-placeholder {
    color: #F0654B;
    display: block !important;
    font-weight: 700;
    max-width: 100%;
    opacity: 0.73;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important; }
    .secret-boxed .secret-input::-moz-placeholder, .secret-card.secret-knockout .secret-middle .secret-input::-moz-placeholder, .secret-card.secret-knockout-red .secret-middle .secret-input::-moz-placeholder, .secret-card.secret-ribbon .secret-input::-moz-placeholder, footer .secret-input::-moz-placeholder {
      opacity: 0.5; }
  .secret-input:-ms-input-placeholder {
    color: #F0654B;
    display: block !important;
    font-weight: 700;
    max-width: 100%;
    opacity: 0.73;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important; }
    .secret-boxed .secret-input:-ms-input-placeholder, .secret-card.secret-knockout .secret-middle .secret-input:-ms-input-placeholder, .secret-card.secret-knockout-red .secret-middle .secret-input:-ms-input-placeholder, .secret-card.secret-ribbon .secret-input:-ms-input-placeholder, footer .secret-input:-ms-input-placeholder {
      opacity: 0.5; }
  .secret-input::-webkit-input-placeholder {
    color: #F0654B;
    display: block !important;
    font-weight: 700;
    max-width: 100%;
    opacity: 0.73;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important; }
    .secret-boxed .secret-input::-webkit-input-placeholder, .secret-card.secret-knockout .secret-middle .secret-input::-webkit-input-placeholder, .secret-card.secret-knockout-red .secret-middle .secret-input::-webkit-input-placeholder, .secret-card.secret-ribbon .secret-input::-webkit-input-placeholder, footer .secret-input::-webkit-input-placeholder {
      opacity: 0.5; }

.secret-ruled {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 24px, rgba(54, 50, 42, 0.32) 24px, rgba(54, 50, 42, 0.32) 26px, rgba(0, 0, 0, 0) 26px, rgba(0, 0, 0, 0) 28px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 1px 28px;
  clear: both; }

.secret-boxed {
  background: #F0654B;
  font-size: 1.1666666667em !important;
  padding: 10px 20px;
  text-align: center !important; }
  @media (min-width: 360px) {
    .secret-boxed {
      padding: 20px 40px; } }

.secret-skiplink {
  border-radius: 50%;
  display: block;
  left: 50%;
  padding: 10px 10px 2px;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-89.4px) translateY(-94.4px) scale(1);
  -ms-transform: translateX(-89.4px) translateY(-94.4px) scale(1);
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transition: top 60ms ease-in, transform 60ms ease-out;
  transition-delay: 0ms, 60ms; }
  .secret-skiplink:hover {
    top: -10px;
    transform: translateX(-89.4px) translateY(-84.4px) scale(1);
    -ms-transform: translateX(-89.4px) translateY(-84.4px) scale(1); }
  @media (min-width: 960px) {
    .secret-skiplink {
      transform: translateX(-89.4px) translateY(-94.4px) scale(0);
      -ms-transform: translateX(-89.4px) translateY(-94.4px) scale(0);
      transition-duration: 60ms, 240ms;
      transition-delay: 0ms; } }

.secret-card {
  background-color: #F7E1C3;
  border-radius: 2px;
  margin: 0 0 40px;
  padding: 20px;
  position: relative;
  text-align: center; }
  @media (min-width: 960px) {
    .secret-card {
      padding: 40px; } }
  .secret-card.secret-knockout {
    background-color: #36322a; }
  .secret-card.secret-knockout.secret-rec, .secret-card.secret-knockout-red.secret-rec {
    border-color: #F7E1C3;
    border-style: solid;
    border-width: 8px;
    padding: 12px; }
    @media (min-width: 960px) {
      .secret-card.secret-knockout.secret-rec, .secret-card.secret-knockout-red.secret-rec {
        padding: 32px; } }
  .secret-card.secret-knockout-red {
    background-color: #F0654B; }
  .secret-card.secret-ribbon {
    background-clip: padding-box;
    background-image: linear-gradient(to bottom, rgba(54, 50, 42, 0.92) 0%, rgba(54, 50, 42, 0.92) 100%);
    border-color: #F7E1C3;
    border-style: solid;
    border-width: 20px; }
    @media (min-width: 960px) {
      .secret-card.secret-ribbon {
        border-width: 20px; } }
    .secret-card.secret-ribbon:before {
      border-color: transparent;
      border-image: url("../assets/svgs/secret_ribbon_edge-7b30ff81.svg") 25% repeat repeat;
      border-image-outset: 7px;
      border-style: solid;
      border-width: 7px 0;
      box-sizing: content-box;
      display: block;
      height: 100%;
      left: -13px;
      padding: 13px;
      pointer-events: none;
      position: absolute;
      top: -20px;
      width: 100%; }
    .secret-card.secret-ribbon .secret-crease:before {
      background-clip: padding-box;
      left: -40px;
      padding: 0 40px; }
      @media (min-width: 960px) {
        .secret-card.secret-ribbon .secret-crease:before {
          left: -60px;
          padding: 0 60px; } }
  .secret-card.secret-dogeared {
    background-color: transparent;
    background-image: url("../assets/svgs/secret-dogear-328be2ee.svg"), linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55px, #f7e1c3 55px, #f7e1c3 200%);
    background-position: left top;
    background-size: 140px 140px, 100% 100%;
    background-repeat: no-repeat;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor; }
  .secret-card.secret-dotted {
    border-color: #F7E1C3;
    border-image: url("../assets/svgs/secret_dot_edge-13bd65cd.svg") 34% 34% repeat repeat;
    border-image-outset: 1.5px;
    border-style: solid;
    border-width: 20.5px;
    padding: 1px; }
    @media (min-width: 960px) {
      .secret-card.secret-dotted {
        padding: 21px; } }
    .secret-card.secret-dotted.secret-bigger {
      border-image: url("../assets/svgs/secret_big_dot_edge-16994316.svg") 37.5% 37.5% repeat repeat;
      border-width: 19px;
      border-image-outset: 3px;
      padding: 4px; }
      @media (min-width: 960px) {
        .secret-card.secret-dotted.secret-bigger {
          padding: 24px; } }
  .secret-card.secret-x-ray {
    background: transparent;
    line-height: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    transform: scale(1, 1);
    transition: transform 60ms ease;
    transition: transform 60ms cubic-bezier(0.5, 0.2, 0.75, 1.5); }
    .secret-card.secret-x-ray:hover {
      transform: scale(1.1, 1.1); }
  .secret-card:last-child {
    margin-bottom: 0; }
  .secret-card > *:last-child {
    margin-bottom: 0 !important; }
  .secret-card .secret-crease {
    margin-bottom: 42px;
    padding-top: 42px;
    position: relative; }
    .secret-card .secret-crease:after, .secret-card .secret-crease:before {
      content: ''; }
    .secret-card .secret-crease:after {
      display: table; }
    .secret-card .secret-crease:before {
      background: transparent;
      background-image: url("/assets/svgs/secret_dot-8415baa7.svg"), url("/assets/svgs/secret_dot-8415baa7.svg"), linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 2px, rgba(54, 50, 42, 0.15) 2px, rgba(54, 50, 42, 0.15) 100%), linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 2px, rgba(54, 50, 42, 0.15) 2px, rgba(54, 50, 42, 0.15) 100%);
      background-position: center bottom, center top, center top, center bottom;
      background-repeat: repeat-x, repeat-x, no-repeat, no-repeat;
      background-size: 8px 3px, 8px 3px, 100% 50%, 100% 50%;
      bottom: 0;
      box-sizing: content-box;
      display: block;
      height: 100%;
      left: -20px;
      padding: 30px 20px 0 20px;
      pointer-events: none;
      position: absolute;
      width: 100%; }
      @media (min-width: 960px) {
        .secret-card .secret-crease:before {
          left: -40px;
          padding: 30px 40px 0 40px; } }
    .secret-card .secret-crease *:last-child {
      margin-bottom: 42px; }
  @media (min-width: 360px) {
    .secret-card .secret-middle {
      display: block;
      height: 100%;
      padding: 0 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      width: 100%; } }
  @media (min-width: 1200px) {
    .secret-card .secret-middle {
      padding: 0 40px; } }
  .secret-card blockquote {
    display: block;
    font-family: "futura-pt", Futura, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4166666667em;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-transform: uppercase;
    width: 100%; }
    @media (min-width: 360px) {
      .secret-card blockquote {
        left: 0;
        padding: 20px;
        position: absolute;
        top: 0; } }
    @media (min-width: 960px) {
      .secret-card blockquote {
        padding: 40px; } }
  .secret-card h2 {
    margin-top: 10px;
    text-transform: uppercase; }
    @media (min-width: 960px) {
      .secret-card h2 {
        margin-top: -10px; } }
  .secret-card h3:not(.secret-text-center), .secret-card p:not(.secret-text-center) {
    text-align: left; }
  .secret-card > img {
    vertical-align: top; }
  .secret-gitter-small > .secret-card > br, .secret-gitter-small > .secret-card > div, .secret-gitter-small > .secret-card > span, .secret-gitter-small > .secret-card > p, .secret-gitter-medium > .secret-card > br, .secret-gitter-medium > .secret-card > div, .secret-gitter-medium > .secret-card > span, .secret-gitter-medium > .secret-card > p {
    font-size: 18px;
    line-height: 1.5555555556em; }
  @media (min-width: 360px) and (max-width: 959px) {
    .secret-gitter-small > .secret-card blockquote {
      font-size: 3vw; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    .secret-gitter-small > .secret-card blockquote {
      font-size: 1.75vw; } }
  @media (min-width: 360px) and (max-width: 959px) {
    .secret-gitter-small > .secret-card .secret-credit {
      font-size: 2.5vw;
      line-height: 1.2em; } }
  .secret-gitter-small > .secret-card .secret-illustration {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .secret-gitter-small > .secret-card {
    height: auto; }
    @media (min-width: 360px) and (max-width: 959px) {
      .secret-gitter-small > .secret-card {
        min-height: 64vw;
        min-height: calc((1340 / 1970) * (100vw - 80px));
        line-height: 64vw;
        line-height: calc((1340 / 1970) * (100vw - 80px)); } }
    @media (min-width: 960px) and (max-width: 1199px) {
      .secret-gitter-small > .secret-card {
        min-height: 49vw;
        min-height: calc((1420 / 1970) * (50vw - 40px));
        line-height: 49vw;
        line-height: calc((1420 / 1970) * (50vw - 40px)); } }
    @media (min-width: 1200px) {
      .secret-gitter-small > .secret-card {
        min-height: 420px;
        line-height: 420px; } }
  .secret-card .secret-credit {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5555555556em;
    width: 100%; }
    @media (min-width: 360px) {
      .secret-card .secret-credit {
        bottom: 0;
        left: 0;
        padding: 20px;
        position: absolute; } }
    @media (min-width: 960px) {
      .secret-card .secret-credit {
        padding: 40px; } }
    .secret-card .secret-credit:before {
      content: '-'; }

.secret-header {
  display: block;
  margin: 0 auto 44.7px;
  max-width: 100%;
  padding: 0 0 5vw;
  position: relative;
  text-align: center;
  width: 1200px;
  z-index: 1; }
  @media (min-height: 66vw) {
    .secret-header {
      min-height: 100vh; } }
  @media (min-width: 1200px) {
    .secret-header {
      padding-bottom: 150px; } }
  .secret-header, .secret-header h1 {
    color: transparent; }
  .secret-header svg {
    height: auto;
    max-width: 100%; }
  .secret-header .secret-goal, .secret-header .secret-logo, .secret-header .secret-procedure, .secret-header .secret-rules {
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-timing-function: cubic-bezier(0.5, 0.25, 0.75, 1.5);
    margin: 0 auto;
    transform-origin: 50% 50% 0;
    transition: margin 120ms ease; }
  .secret-header .secret-goal, .secret-header .secret-rules {
    animation-name: fadeIn; }
  .secret-header .secret-goal {
    animation-delay: 360ms;
    animation-duration: 480ms;
    animation-name: fadeIn;
    width: 50%; }
    @media (min-width: 960px) {
      .secret-header .secret-goal {
        margin-bottom: 28px; } }
  .secret-header .secret-logo, .secret-header .secret-rules {
    animation-duration: 360ms; }
  .secret-header .secret-logo {
    animation-delay: 960ms;
    animation-name: popIn;
    margin-bottom: 5vw;
    width: 90%; }
    @media (min-width: 960px) and (max-width: 1199px) {
      .secret-header .secret-logo {
        margin-bottom: 10vw; } }
    @media (min-width: 1200px) {
      .secret-header .secret-logo {
        margin-bottom: 150px;
        width: 1120px; } }
  .secret-header .secret-rules {
    animation-delay: 1440ms;
    width: 75%; }
  .secret-header .secret-procedure {
    animation-delay: 1680ms;
    animation-duration: 180ms;
    animation-name: dropIn;
    display: block;
    margin-bottom: 5vw;
    position: relative;
    width: 50%;
    transform: translateY(-20%); }
    @media (min-width: 960px) and (max-width: 1199px) {
      .secret-header .secret-procedure {
        margin-bottom: 10vw; } }
    @media (min-width: 1200px) {
      .secret-header .secret-procedure {
        margin-bottom: 150px; } }

.secret-header-wrap {
  display: block;
  position: relative;
  width: 100%; }
  @media (min-height: 70vw) {
    .secret-header-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%); } }
  @media (max-height: 152vw) and (max-width: 959px) {
    .secret-header-wrap {
      padding-top: 40px; } }

@keyframes dropIn {
  0% {
    transform: translateY(-120%); }
  100% {
    transform: translateY(-15%); } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes popIn {
  0% {
    transform: scale(0, 0); }
  100% {
    transform: scale(1, 1); } }
.secret-cap {
  clear: none;
  display: inline-block;
  float: none;
  margin: -40.2525773196% auto 14px;
  margin-top: calc((100vw - 80px) * -0.4025257732);
  max-width: 100%;
  padding: 0 !important;
  position: relative;
  text-align: center;
  width: auto !important;
  z-index: 10; }
  @media (min-width: 618px) and (max-width: 959px) {
    .secret-cap {
      margin-top: -184.3568041237px; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    .secret-cap {
      margin-top: calc((50vw - 80px) * -0.4025257732); } }
  @media (min-width: 1200px) {
    .secret-cap {
      margin-top: -40.2525773196%; } }
  @media (max-width: 617px) {
    .secret-safari .secret-cap {
      margin-bottom: calc(-0.5 * (323px - ((100vw - 80px) * 1370/1940)));
      margin-top: calc(((100vw - 80px) * -0.4025257732) - 0.5 * (323px - ((100vw - 80px) * 1370/1940))); } }
  .secret-cap .secret-card {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; }

+ h2 {
  display: block; }

footer {
  background: #36322a;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase; }
  footer .secret-container {
    margin: 0 auto;
    padding: 20px; }
    footer .secret-container > * {
      margin: 0; }

.secret-illustration-fill {
  transition: fill 60ms ease;
  transition: fill 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5); }

.secret-illustration-stroke {
  transition: stroke 60ms ease;
  transition: stroke 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5); }

.secret-illustration-fill-highlight {
  fill: #F7E1C3; }

.secret-illustration-fill-dark {
  fill: #36322a; }

.secret-illustration-fill-red {
  fill: #F0654B; }

.secret-illustration-fill-evenodd {
  clip-rule: evenodd;
  fill-rule: evenodd; }

.secret-illustration-opacity-very-low {
  opacity: 0.15; }

.secret-illustration-opacity-low {
  opacity: 0.32; }

.secret-illustration-opacity-medium {
  opacity: 0.52; }

.secret-illustration-opacity-high {
  opacity: 0.76; }

.secret-illustration-stroke-highlight {
  stroke: #F7E1C3; }
  .secret-boxed .secret-illustration-stroke-highlight, .secret-card.secret-knockout .secret-middle .secret-illustration-stroke-highlight, .secret-card.secret-knockout-red .secret-middle .secret-illustration-stroke-highlight, .secret-card.secret-ribbon .secret-illustration-stroke-highlight, footer .secret-illustration-stroke-highlight {
    stroke: #36322a; }

.secret-illustration-stroke-normal {
  stroke-miterlimit: 10;
  stroke-width: 0.75; }

.secret-slice {
  clear: both;
  float: left;
  position: relative;
  width: 100%;
  z-index: 1; }

.blackbox-widget {
  display: inline-block;
  height: 60px;
  margin-top: -14px;
  position: relative;
  width: 288px; }
  @media (max-width: 448px) {
    .blackbox-widget {
      left: 50%;
      transform: translateX(-50%); } }

#about .secret-cap {
  margin-top: -31.7783505155%;
  margin-top: calc((100vw - 80px) * -0.3177835052); }
  @media (min-width: 580px) and (max-width: 959px) {
    #about .secret-cap {
      margin-top: -133.4690721649px; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    #about .secret-cap {
      margin-top: calc((50vw - 80px) * -0.3177835052); } }
  @media (min-width: 1200px) {
    #about .secret-cap {
      margin-top: -31.7783505155%; } }
  @media (max-width: 579px) {
    .secret-safari #about .secret-cap {
      margin-bottom: calc(-0.5 * (297px - ((100vw - 80px) * 1370/1940)));
      margin-top: calc(((100vw - 80px) * -0.4025257732) - 0.5 * (297px - ((100vw - 80px) * 1370/1940))); } }
#about .secret-font-size-big {
  font-size: 24px !important;
  line-height: 34px !important;
  margin-bottom: 17px !important;
  margin-top: 42px;
  text-transform: uppercase; }
  #about .secret-font-size-big + .secret-font-size-big {
    margin-top: 0; }
#about > p:last-child {
  margin-bottom: 102px !important; }

#faq h2 {
  color: #F0654B;
  font-family: "futura-pt", Futura, sans-serif;
  font-size: 18vw;
  left: 0em;
  margin: 1em auto 1.375em;
  position: relative;
  top: 0.125em; }
  @media (min-width: 360px) and (max-width: 959px) {
    #faq h2 {
      left: -0.125em; } }
  @media (min-width: 600px) {
    #faq h2 {
      left: -0.1875em;
      top: 0; } }
  @media (min-width: 600px) and (max-width: 959px) {
    #faq h2 {
      font-size: 114px; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    #faq h2 {
      font-size: 9vw; } }
  @media (min-width: 1200px) {
    #faq h2 {
      font-size: 114px; } }
  #faq h2 span:after {
    content: '.';
    font-size: 0.667em;
    speak: none; }
  #faq h2 span:first-child {
    left: -0.1875em;
    position: relative;
    top: -0.875em; }
  #faq h2 span:last-child {
    left: 0.1875em;
    position: relative;
    top: 0.875em; }
  #faq h2 .secret-illustration {
    bottom: 45%;
    display: block;
    height: auto;
    left: 46%;
    max-width: none;
    position: absolute;
    speak: none;
    transform: translateX(-50%);
    width: 225%; }
    .secret-safari #faq h2 .secret-illustration {
      height: calc(41.715vw * (1270 / 915)); }
      @media (min-width: 600px) and (max-width: 959px) {
        .secret-safari #faq h2 .secret-illustration {
          height: 366.6968852459px; } }
      @media (min-width: 960px) and (max-width: 1199px) {
        .secret-safari #faq h2 .secret-illustration {
          height: calc(20.8575vw * (1270 / 915)); } }
      @media (min-width: 1200px) {
        .secret-safari #faq h2 .secret-illustration {
          height: 366.6968852459px; } }

#purchase {
  background: none;
  padding: 0; }
  #purchase a {
    display: block;
    clear: both; }
    #purchase a, #purchase a:hover {
      color: #F0654B; }
  #purchase h1 {
    box-sizing: content-box;
    display: block;
    margin: 28px -20px -21px;
    padding: 0 20px;
    position: relative;
    width: 100%; }
  #purchase hr {
    background-color: #F0654B;
    margin-bottom: 56px;
    margin-top: 42px;
    position: relative; }
    #purchase hr.secret-or {
      margin-bottom: 42px; }
      #purchase hr.secret-or:after {
        background: #F0654B;
        color: #F7E1C3;
        content: 'or';
        border-radius: 15px;
        display: block;
        font-size: 14px;
        font-weight: 700;
        height: 30px;
        left: 50%;
        line-height: 30px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 30px; }

#purchase h1, .secret-safari #secret-buy-now {
  height: calc((100vw - 80px) * (79 / 342)); }
  @media (min-width: 960px) and (max-width: 1199px) {
    #purchase h1, .secret-safari #secret-buy-now {
      height: calc((50vw - 80px) * (79 / 342)); } }
  @media (min-width: 1200px) {
    #purchase h1, .secret-safari #secret-buy-now {
      height: 110.8771929825px; } }

#secret-buy-now {
  height: auto;
  left: -20px;
  max-width: none;
  position: absolute;
  right: -20px;
  top: 0; }

#secret-pitch {
  background: #b9a992;
  padding-top: 150px; }
  #secret-pitch:before {
    background-color: transparent;
    background-image: url("../assets/svgs/secret-tear-88b5e190.svg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 1040px 12px;
    content: '';
    display: block;
    height: 12px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateY(-6.8px);
    z-index: 0;
    width: 100%; }

#print-n-play .secret-text-center {
  margin: 56px 0; }
@media (min-width: 1140px) {
  #print-n-play .secret-space-wrap {
    white-space: nowrap; } }
#print-n-play .secret-illustration-fill-red {
  transform: translateY(0) translateX(0);
  -ms-transform: translateY(0) translateX(0);
  transition: transform 60ms ease;
  transition: transform 60ms cubic-bezier(0.5, 0.25, 0.75, 1.5); }
#print-n-play .secret-x-ray:hover {
  transform: scale(1, 1); }
  #print-n-play .secret-x-ray:hover .secret-illustration-fill-red {
    transform: translateY(-15px) translateX(6px);
    -ms-transform: translateY(-15px) translateX(6px); }

#secret-bg-video {
  background-image: url("../assets/secret_poster-9e03a5c7.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100vh;
  height: 100vh;
  left: 50%;
  pointer-events: none;
  position: fixed;
  top: 50vh;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  width: auto;
  z-index: 0; }
  @media (min-width: 177.7777777778vh) {
    #secret-bg-video {
      background-size: 100% auto;
      height: auto;
      width: 100%; } }
