---
---

/* COLORS */
/* COLORS AS WE ACTUALLY USE THEM IN THE STYLES */
/* TYPE SCALE */
/* TYPOGRAPHY */
/* IMPORTANT SIZES */
/* MEDIA QUERIES */
/* BORDER STUFF */
.secret-container,
.secret-card,
.secret-slice {
	zoom: 1;
}
.secret-container:after,
.secret-card:after,
.secret-slice:after {
	clear: both;
}
.secret-container:after,
.secret-card:after,
.secret-slice:after,
.secret-container:before,
.secret-card:before,
.secret-slice:before {
	content: "";
	display: table;
}

@media (max-width: 1149px) {
	.responsive-table-head {
		display: none !important;
	}

	.responsive-table-cell:nth-child(odd) {
		font-weight: bold;
	}

	.responsive-table-cell:nth-child(even) {
		margin-bottom: 1rem;
	}
}

@media (min-width: 1150px) {
	.responsive-table {
		display: flex !important;
	}

	.responsive-table-cell {
		margin-bottom: .2rem;
	}

	.responsive-table-cell:nth-child(odd) {
		width: 14% !important;
	}

	.responsive-table-cell:nth-child(even) {
		padding-left: 20px;
		width: 86% !important;
	}
}

/* MEDIA QUERY MIXINS */
/* FONT SIZE MIXINS */
/* FONT SIZE PLACEHOLDERS */
h4 {
	font-size: 1rem;
	margin-top: 0rem;
	margin-bottom: 0.7rem;
}

h3 {
	font-size: 1.4rem;
	margin-top: 2.3rem;
	margin-bottom: 1.2rem;
}

h2 {
	font-size: 1.45rem;
	line-height: 1.2272727273em;
}

h1 {
	text-transform: uppercase;
	font-size: 1.5rem;
	line-height: 1.25em;
}

@media (min-width: 655px) {
	h1 {
		font-size: 4.4444444444rem;
	}

	h2 {
		font-size: 2.4444444444rem;
	}
}

/* TEXT MIXINS */
/* TEXT PLACEHOLDERS */
h4 {
	font-family: "courier-prime", Courier, sans-serif;
	font-weight: 400;
}

h3 {
	font-family: "courier-prime", Courier, sans-serif;
	font-weight: 400;
}

h2 {
	font-family: "courier-prime", Courier, sans-serif;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

h1 {
	font-family: "courier-prime", Courier, sans-serif;
	font-weight: 700;
}

/* GRID HACKS */
.secret-card.secret-ribbon,
footer {
	color: #f7e1c3;
}

/* FOR SCREEN READERS */
/* TYPOGRAPHY */
.secret-text-center {
	text-align: center;
}

/* PUSH AND PULL CLASSES */
/* MARGINS */
/* VIEWPORT WIDTH */
/* PIXEL DENSITY */
.secret-gitter-row {
	zoom: 1;
	display: block;
	width: 100%;
}
.secret-gitter-row:after {
	clear: both;
}
.secret-gitter-row:after,
.secret-gitter-row:before {
	content: "";
	display: table;
}

* {
	box-sizing: border-box;
}

body {
	display: block;
	overflow-x: hidden;
	position: relative;
}

body,
html {
	background-color: #938673;
	background-repeat: repeat;
	background-size: 250px 250px;
	background-position: center top;
	color: #36322a;
	font-family: "courier-prime", Courier, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

dl,
p,
ol,
table,
ul {
	margin: 0 0 1.5555555556em;
	padding: 0;
}

em {
	font-style: italic;
}

html {
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

img,
svg {
	display: inline-block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}

strong {
	font-weight: 700;
}

a {
	color: #36322a;
	font-weight: 700;
	text-decoration: underline;
	transition: color 60ms ease;
}
a:hover {
	color: #968975;
	cursor: pointer;
}
.secret-card.secret-ribbon a {
	color: #f7e1c3;
}
.secret-card.secret-ribbon a:hover {
	color: #f7e1c3;
}

h1,
h2 {
	display: block;
}
.secret-card.secret-ribbon h1,
.secret-card.secret-ribbon h2 {
	color: #f7e1c3;
}
h1,
h2 {
	color: #36322a;
}

h1 {
	margin: 0.15625em 0;
}

h2 {
	margin: 0.6136363636em 0;
	text-align: center;
}

h3,
h4 {
	font-weight: bold;
}

dd {
	margin: 0;
}

li {
	text-align: left;
	margin: 0 0 0.5em;
}

ol,
ul {
	list-style-position: outside;
	margin: 1.5em 0 1.5em 1.5em;
}

@media (min-width: 655px) {
	ol,
	ul {
		padding-left: 1.125em;
	}
}

ol ol,
ul ul {
	margin: 0.5em 0 0.5em 0.5em;
}

.secret-container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
	width: 100%;
}

.secret-card {
	background-color: #f7e1c3;
	border-radius: 2px;
	margin: 0 0 40px;
	padding: 20px;
	position: relative;
	text-align: center;
}
@media (min-width: 960px) {
	.secret-card {
		padding: 40px;
	}
}
.secret-card.secret-ribbon {
	background-clip: padding-box;
	background-image: linear-gradient(to bottom, rgba(54, 50, 42, 0.92) 0%, rgba(54, 50, 42, 0.92) 100%);
	border-color: #f7e1c3;
	border-style: solid;
	border-width: 20px;
}
@media (min-width: 960px) {
	.secret-card.secret-ribbon {
		border-width: 20px;
	}
}
.secret-card.secret-ribbon:before {
	border-color: transparent;
	border-image: url("/assets/svgs/secret_ribbon_edge-7b30ff81.svg") 25% repeat repeat;
	border-image-outset: 7px;
	border-style: solid;
	border-width: 7px 0;
	box-sizing: content-box;
	display: block;
	height: 100%;
	left: -13px;
	padding: 13px;
	pointer-events: none;
	position: absolute;
	top: -20px;
	width: 100%;
}
.secret-card:last-child {
	margin-bottom: 0;
}
.secret-card > *:last-child {
	margin-bottom: 0 !important;
}
.secret-card h2 {
	margin-top: 10px;
	text-transform: uppercase;
}
@media (min-width: 960px) {
	.secret-card h2 {
		margin-top: -10px;
	}
}
.secret-card h3,
.secret-card h4,
.secret-card p {
	text-align: left;
}

h2 {
	display: block;
}

footer {
	background: #36322a;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}

.secret-illustration-fill-highlight {
	fill: #f7e1c3;
}

.secret-illustration-fill-dark {
	fill: #36322a;
}

.secret-illustration-fill-red {
	fill: #f0654b;
}

.secret-illustration-opacity-very-low {
	opacity: 0.15;
}

.secret-illustration-opacity-low {
	opacity: 0.32;
}

.secret-illustration-opacity-medium {
	opacity: 0.52;
}

.secret-slice {
	clear: both;
	float: left;
	position: relative;
	width: 100%;
	z-index: 1;
}

h2::after {
	background: transparent;
	background-image: url("/assets/svgs/secret_dot-8415baa7.svg"), url("/assets/svgs/secret_dot-8415baa7.svg"),
		linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) 2px,
			rgba(54, 50, 42, 0.15) 2px,
			rgba(54, 50, 42, 0.15) 100%
		),
		linear-gradient(
			to top,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) 2px,
			rgba(54, 50, 42, 0.15) 2px,
			rgba(54, 50, 42, 0.15) 100%
		);
	background-position: center bottom, center top, center top, center bottom;
	background-repeat: repeat-x, repeat-x, no-repeat, no-repeat;
	background-size: 8px 3px, 8px 3px, 100% 50%, 100% 50%;
	bottom: 0;
	box-sizing: content-box;
	display: block;
	height: 100%;
	left: -20px;
	padding: 30px 20px 0 20px;
	pointer-events: none;
	position: absolute;
	width: 100%;
}

.secret-gitter-row {
	padding: 20px 0px;
}

body {
	counter-reset: h2 h3 h4;
}
.section-header {
	counter-reset: h3 h4;
}
h3 {
	counter-reset: h4;
}

h2:before {
	counter-increment: h2;
	content: counter(h2) ". ";
}
h3:before {
	counter-increment: h3;
	content: counter(h2) "." counter(h3) ". ";
}
h4:before {
	counter-increment: h4;
	content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

.licenseimg {
	width: 200px;
	display: block;
	margin: auto;
}

.table-wrapper {
	overflow: auto;
}

table {
	margin: 0px auto 1.5555555556em auto;
}

.responsive-table {
	flex-wrap: wrap;
	text-align: left;
}

.responsive-table-cell {
	display: flex;
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	justify-content: center;
	flex-direction: column;
}

tr > *:first-child {
	padding-left: 0;
}

.responsive-table-head {
	font-weight: bold;
}

td,
th {
	padding-left: 20px;
}
