---
layout: base
---
<section id="intro" class="secret-card secret-ribbon">
	<h1>The Unofficial {% assign logo = 'illustrations/logo.html' %}{% include {{ logo }} %} Strategy Guide</h1>

	{{ content }}
	<div id="toc"></div>
</section>

{% assign chapters = site.chapters | sort: 'order' %}
{% for chapter in chapters %}
	{% include image.html img=chapter.before incl_section=true %}
	<section class="secret-card secret-ribbon">
		{% include image.html img=chapter.before_header incl_section=false %}
		<div class="section-header">
			<a class="section-link" href="#intro">
				<i class="fa fa-arrow-up"></i>
			</a>
			<h2 id="{{ chapter.title | slugify }}">{{ chapter.title }}</h2>
			<a class="section-link" href="#{{ chapter.title | slugify }}">
				<i class="fa fa-link"></i>
			</a>
		</div>
		{{ chapter.content }}
	</section>
	{% include image.html img=chapter.after incl_section=true %}
{% endfor %}
