---
layout: base
---
<section class="secret-card secret-ribbon">
	<h1>The Unofficial</h1>
	{% assign logo = 'illustrations/logo.html' %}
	{% include {{ logo }} %}
	<h1>Strategy Guide</h1>

	{{ content }}
</section>

{% assign chapters = site.chapters | sort: 'order' %}
{% for chapter in chapters %}
	{% if chapter.before %}
		<section class="section-img">
			{% assign before = 'illustrations/' | append: chapter.before | append: '.html' %}
			{% include {{ before }} %}
		</section>
	{% endif %}
	<section class="secret-card secret-ribbon">
		{% if chapter.before_header %}
			{% assign before_header = 'illustrations/' | append: chapter.before_header | append: '.html' %}
			{% include {{ before_header }} %}
		{% endif %}
		{{ chapter.content }}
	</section>
	{% if chapter.after %}
		<section class="section-img">
			{% assign after = 'illustrations/' | append: chapter.after | append: '.html' %}
			{% include {{ after }} %}
		</section>
	{% endif %}
{% endfor %}
