---
layout: base
---
<div class="secret-card secret-ribbon">
	{{ content }}
</div>

{% assign chapters = site.chapters | sort: 'order' %}
{% for chapter in chapters %}
	{% if chapter.before %}
		{% assign before = 'illustrations/' | append: chapter.before | append: '.html' %}
		{% include {{ before }} %}
	{% endif %}
	<section class="secret-card secret-ribbon">
		{{ chapter.content }}
	</section>
	{% if chapter.after %}
		{% assign after = 'illustrations/' | append: chapter.after | append: '.html' %}
		{% include {{ after }} %}
	{% endif %}
{% endfor %}
